@inherits SociallyLayoutBase

<NavMenu />


<main>
    <div class="container">
        <div class="row g-4">

            <!-- Main content START -->
            <div class="col-lg-8 vstack gap-4">
                <!-- My profile START -->
                <div class="card">
                    <!-- Cover image -->
                    <div class="h-200px rounded-top"></div>
                    <!-- Card body START -->
                    <div class="card-body py-0">
                        <div class="d-sm-flex align-items-start text-center text-sm-start">
                            <div>
                                <!-- Avatar -->
                                <div class="avatar avatar-xxl mt-n5 mb-3">
                                    <CurrentUserProfilePicture />
                                    @*<img class="avatar-img rounded-circle border border-white border-3" src="assets/images/avatar/07.jpg" alt="">*@
                                </div>
                            </div>
                            <div class="ms-sm-4 mt-sm-3">
                                <!-- Info -->
                                <h1 class="mb-0 h5">@profileInfo?.FirstName @profileInfo?.LastName <i class="bi bi-patch-check-fill text-success small"></i></h1>
                                <p>250 connections</p>
                            </div>
                            <!-- Button -->
                            <div class="d-flex mt-3 justify-content-center ms-sm-auto">
                                <a href="/account" class="btn btn-danger-soft me-2" type="button"> <i class="bi bi-pencil-fill pe-1"></i> Edit profile </a>
                            </div>
                        </div>
                        @*<!-- List profile -->
                        <ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
                        <li class="list-inline-item"><i class="bi bi-briefcase me-1"></i> Lead Developer</li>
                        <li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i> New Hampshire</li>
                        <li class="list-inline-item"><i class="bi bi-calendar2-plus me-1"></i> Joined on Nov 26, 2019</li>
                        </ul>*@
                    </div>
                    <!-- Card body END -->
                    <div class="card-footer mt-3 pt-2 pb-0">
                        <!-- Nav profile pages -->
                        <ul class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
                            <li class="nav-item"> <NavLink Match=NavLinkMatch.All class="nav-link" href="/profile"> Posts </NavLink> </li>
                            <li class="nav-item"> <NavLink class="nav-link" href="/profile/friends">Friends</NavLink> </li>
                            @*                        <li class="nav-item"> <a class="nav-link" href="my-profile-about.html"> About </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="my-profile-connections.html"> Connections <span class="badge bg-success bg-opacity-10 text-success small"> 230</span> </a> </li>
                            <li class="nav-item"> <a class="nav-link" href="my-profile-media.html"> Media</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="my-profile-videos.html"> Videos</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="my-profile-events.html"> Events</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="my-profile-activity.html"> Activity</a> </li>*@
                        </ul>
                    </div>
                </div>
                <!-- My profile END -->
                <!-- Share feed START -->
                @Body

            </div>


            <!-- Main content END -->
            <!-- Right sidebar START -->
            <div class="col-lg-4">

                <div class="row g-4">

                    <!-- Card START -->
                    @if (friends is not null)
                    {
                        <div class="col-md-6 col-lg-12">
                            <div class="card">
                                <!-- Card header START -->
                                <div class="card-header d-sm-flex justify-content-between align-items-center border-0">
                                    <h5 class="card-title">Friends <span class="badge bg-danger bg-opacity-10 text-danger">@friends.Count()</span></h5>
                                    <a class="btn btn-primary-soft btn-sm" href="profile/friends">See all friends</a>
                                </div>
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body position-relative pt-0">
                                    <div class="row g-3">

                                        @foreach (var user in friends)
                                        {
                                            <div class="col-6">
                                                <!-- Friends item START -->
                                                <div class="card shadow-none text-center h-100">
                                                    <!-- Card body -->
                                                    <div class="card-body p-2 pb-0">
                                                        <div class="avatar avatar-xl">
                                                            <ProfilePicture FileName=@user.ProfilePicUrl />
                                                        </div>
                                                        <h6 class="card-title mb-1 mt-3"> <a href="#!" @onclick:preventDefault> @user.FirstName @user.LastName </a></h6>
                                                    </div>
                                                </div>
                                                <!-- Friends item END -->
                                            </div>
                                        }

                                    </div>
                                </div>
                                <!-- Card body END -->
                            </div>
                        </div>

                    }

                    <!-- Card END -->
                    <!-- Card START -->
                    @if (images is not null)
                    {
                        <div class="col-md-6 col-lg-12">
                            <div class="card">
                                <!-- Card header START -->
                                <div class="card-header d-sm-flex justify-content-between border-0">
                                    <h5 class="card-title">Photos <span class="badge bg-danger bg-opacity-10 text-danger">@images.Count()</span> </h5>
                                </div>
                                <!-- Card header END -->
                                <!-- Card body START -->
                                <div class="card-body position-relative pt-0">
                                    <div class="row g-2">

                                        @foreach (var img in images)
                                        {
                                            <!-- Photos item -->
                                            <div class="col-6">
                                                <a href="#" @onclick:preventDefault data-gallery="image-popup" data-glightbox="">
                                                    <img class="rounded img-fluid" src="@Config["imageBase"]/userprofiles/@img" alt="">
                                                </a>
                                            </div>

                                        }

                                    </div>
                                </div>
                                <!-- Card body END -->
                            </div>
                        </div>
                    }
                    <!-- Card END -->

                </div>

            </div>
            <!-- Right sidebar END -->

        </div> <!-- Row END -->
    </div>

</main>
